# Python-Bytecode
*.pyc
__pycache__/

# Virtuelle Environments (ggf. beide Varianten abdecken)
venv/
.venv/

# Node modules (Frontend-Abhängigkeiten)
node_modules/

# Pytest Cache ignorieren
.pytest_cache/
backend/.pytest_cache/